* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(29, 29, 29);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.datecalc {
    display: none;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.timer_flex{
    display: flex;
    justify-content: center;
}

.timer {
    display: none;
    height: 100px;
    width: 308px;
}

label{
    color: white;
}

.active {
    display: flex;       
    flex-wrap: wrap;
    justify-content: space-around;
}

.start {
    margin-top: 30px;
    margin-bottom: 30px;
}

#datecalc__result{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}

button{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    width: 100px;
}